@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.gen_info_main {
    border-top: none;
    border-radius: 0px 0px 6px 6px;
    margin-bottom: 20px;

    .gen_info_item {
        .input_area {
            margin-bottom: 10px;
            display: flex;
            align-items: center;

            .input_lbl {
                background-color: transparent;
                min-width: 200px;
                display: flex;
                align-items: center;
            }

            .input_field {

                border: 1px solid #ccc;
                border-radius: 3px;
                width: 100%;

            }

            .gen_info_sugg {
                background-color: #ffffff;
                border: 1px solid #ccc;
                border-radius: 3px;
                min-height: 30px;
                min-width: 250px;
                position: absolute;
                z-index: 99;
                padding: 10px;
            }
        }


        .input_area_switch {
            display: flex !important;
        }

    }
    .single_contact{
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        button {
            height: 30px;
            width: 33px;
            border-radius: 3px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 5px;
            i {
                color: #fff;
            }
        }

        .red_btn {
            background-color: #DB2828;
        }
    }
    .single_contact_ct{
        margin-bottom: 5px;
    }
}

.full_width {
    width: 100%;
}

.width_50 {
    width: 50%;
}
.margin_bot_10{
    margin-bottom: 10px;
}

:host ::ng-deep .p-cell-editing {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

::ng-deep p-table {
    .p-datatable-striped .p-datatable .p-component {}

    .input_field {
        border: 1px solid #ccc;
        border-radius: 3px;
        width: 100%;
    }

    .action_button {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            height: 30px;
            width: 33px;
            border-radius: 3px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                color: #fff;
            }
        }

        .red_btn {
            background-color: #DB2828;
        }
    }
}

.paginator_sec {
    margin-top: 10px;
}

::ng-deep p-table .table_header_row {
    background-color: #dddddd !important;

    th {
        background-color: transparent;
    }

    .header_col {
        text-align: center;
        min-width: 130px;
    }

}

::ng-deep .p-dropdown {
    height: 30px;
    width: 100% !important;
    border-radius: 3px;
}

::ng-deep .exp_acc_ddp p-dropdown {
    p-overlay {
        display: none;
    }
}

.exp_acc_ddp_btn {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding-right: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;


    div {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

    }

    i {
        font-size: 21px;
        color: #6b7280;
    }




}


.gen_info_item {
    .input_area {
        display: block !important;
    }

    .input_area_switch {
        display: flex !important;
    }


}

::ng-deep p-accordionTab {
    .p-accordion-header-link {
        padding: 10px;
        background-color: #2185D0;
        color: #fff !important;
    }

    .p-accordion-content {
        background-color: #f7f7f7;
    }
}

::ng-deep p-table .table_header_row {
    background-color: #2185D0 !important;

    th {
        background-color: transparent;
        color: #ffffff;
        padding: 5px;
        height: 30px;
    }

    .header_col {
        text-align: center;
        min-width: 130px;
    }

    .created_details {
        min-width: 200px;
    }

}

::ng-deep p-table {
    .p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(even) {
        background-color: #EDF7FF;
    }

    .p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(odd) {
        background-color: #ffffff;
    }

    .p-datatable .p-datatable-tbody>tr:hover {
        background-color: #c8e4fb !important;
    }

    .p-datatable .p-datatable-tbody>tr>td {
        padding: 5px;
        vertical-align: top;
    }
}