<!--Gen info main-->
<div class="card flex justify-content-center gen_info_main">
    <!-- Error message -->
    <div class="col-12" *ngIf="(!clientCustomer.BusinessName) && modificationMode !== 'VIEW'">
        <span class="error_label">Business name/surname is mandatory in order to fill the rest of the fields</span>
    </div>
    <!-- End of Error message -->

    <!-- Accordion section -->
    <p-accordion [multiple]="true" [activeIndex]="[0,1,4]">
        <p-accordionTab header="Client / Customer">
            <!--Client Customer-->
            <div class="row gen_info_item">
                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area">
                    <!--Label-->
                    <label class="input_lbl">Business Name / Surname</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <input class="input_field" type="text" [(ngModel)]="clientCustomer.BusinessName"
                        onKeyPress="if(value.length==100) return false;" inputrestriction="^[a-z A-Z 0-9]*$"
                        [disabled]="modificationMode == 'VIEW'" (blur)="onBlurEvent('CLIENT$CUSTOMER')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->

                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area">
                    <!--Label-->
                    <label class="input_lbl">First Name</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <input class="input_field" type="text" [(ngModel)]="clientCustomer.FirstName"
                        onKeyPress="if(value.length==100) return false;" inputrestriction="^[a-z A-Z 0-9]*$"
                        [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        (blur)="onBlurEvent('CLIENT$CUSTOMER')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->
                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area">
                    <!--Label-->
                    <label class="input_lbl">Middle Initial</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <input class="input_field" type="text" [(ngModel)]="clientCustomer.MiddleInitial"
                        onKeyPress="if(value.length==100) return false;" inputrestriction="^[a-z A-Z 0-9]*$"
                        [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        (blur)="onBlurEvent('CLIENT$CUSTOMER')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->
                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area">
                    <!--Label-->
                    <label class="input_lbl">Business Number Type</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <p-dropdown [options]="displayBusinessNumberTypeList" class="width_50" autoWidth="false"
                        placeholder="Select an option" [(ngModel)]="clientCustomer.BusinessNumberType.Id"
                        [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        (onChange)="onBlurEvent('CLIENT$CUSTOMER')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->
                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area">
                    <!--Label-->
                    <label class="input_lbl">Business Number</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <input class="input_field" type="text" [(ngModel)]="clientCustomer.BusinessNumber"
                        onKeyPress="if(value.length==20) return false;" inputrestriction="^[a-z A-Z 0-9 #]*$"
                        [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        (blur)="onBlurEvent('CLIENT$CUSTOMER')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->
            </div>
            <!--End of Client Customer-->

        </p-accordionTab>
        <p-accordionTab header="Billing Address">
            <!--Billing Address-->
            <div class="row gen_info_item">
                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area">
                    <!--Label-->
                    <label class="input_lbl">Billing Name (if any)</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <input class="input_field" type="text" inputrestriction="^[a-z A-Z 0-9]*$"
                        onKeyPress="if(value.length==100) return false;"
                        [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        [(ngModel)]="businessAddress.BuildingName" (blur)="onBlurEvent('BUSINESS$ADDRESS')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->

                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area">
                    <!--Label-->
                    <label class="input_lbl">Street Number and Name</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <input class="input_field" type="text" inputrestriction="^[a-z A-Z 0-9 / _]*$"
                        onKeyPress="if(value.length==100) return false;"
                        [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        [(ngModel)]="businessAddress.StreetName" (blur)="onBlurEvent('BUSINESS$ADDRESS')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->
                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area">
                    <!--Label-->
                    <label class="input_lbl">Suburb</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <input class="input_field" type="text" inputrestriction="^[a-z A-Z 0-9]*$"
                        onKeyPress="if(value.length==50) return false;"
                        [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        [(ngModel)]="businessAddress.Suburb" (blur)="onBlurEvent('BUSINESS$ADDRESS')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->
                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area">
                    <!--Label-->
                    <label class="input_lbl">Pcode / Zip</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <input class="input_field" type="text" onKeyPress="if(value.length==10) return false;"
                        [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        [(ngModel)]="businessAddress.PostalCode" (blur)="onBlurEvent('BUSINESS$ADDRESS')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->
                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area">
                    <!--Label-->
                    <label class="input_lbl">State / Territory</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <input class="input_field" type="text" inputrestriction="^[a-z A-Z 0-9]*$"
                        onKeyPress="if(value.length==50) return false;"
                        [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        [(ngModel)]="businessAddress.State" (blur)="onBlurEvent('BUSINESS$ADDRESS')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->

                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area">
                    <!--Label-->
                    <label class="input_lbl">Country</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <p-dropdown [options]="displayCountryList" class="width_50" autoWidth="false"
                        placeholder="Select an option"
                        [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        [(ngModel)]="businessAddress.Country.Id" (onChange)="onBlurEvent('BUSINESS$ADDRESS')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->
            </div>
            <!--End of Billing Address-->
        </p-accordionTab>
        <p-accordionTab header="Relationship">
            <!--Relationship-->
            <div class="row gen_info_item">
                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area">
                    <!--Label-->
                    <label class="input_lbl">Office Job</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <input class="input_field" type="number" onKeyPress="if(value.length==20) return false;"
                        [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        [(ngModel)]="relationshipDetails.OfficeJob" (blur)="onBlurEvent('RELATIONSHIP$DETAILS')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->

                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area">
                    <!--Label-->
                    <label class="input_lbl">Work Credit</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <input class="input_field" type="number" onKeyPress="if(value.length==20) return false;"
                        [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        [(ngModel)]="relationshipDetails.WorkCredit" (blur)="onBlurEvent('RELATIONSHIP$DETAILS')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->
                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area">
                    <!--Label-->
                    <label class="input_lbl">Pricing Classification</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <p-dropdown [options]="displayPriceClassificationList" class="width_50" autoWidth="false"
                        placeholder="Select an option"
                        [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        [(ngModel)]="relationshipDetails.PriceClassification.Id"
                        (onChange)="onBlurEvent('RELATIONSHIP$DETAILS')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->
                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area">
                    <!--Label-->
                    <label class="input_lbl">Client Rating</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <p-dropdown [options]="displayClientRatingList" class="width_50" autoWidth="false"
                        placeholder="Select an option"
                        [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        [(ngModel)]="relationshipDetails.RatingDetails.Id"
                        (onChange)="onBlurEvent('RELATIONSHIP$DETAILS')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->
                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area">
                    <!--Label-->
                    <label class="input_lbl">Client Size</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <p-dropdown [options]="displayPriceClassificationList" class="width_50" autoWidth="false"
                        placeholder="Select an option"
                        [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        [(ngModel)]="relationshipDetails.ClientSize.Id"
                        (onChange)="onBlurEvent('RELATIONSHIP$DETAILS')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->

                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area">
                    <!--Label-->
                    <label class="input_lbl">Client Term Type</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <p-dropdown [options]="displayTermTypeList" class="width_50" autoWidth="false"
                        placeholder="Select an option"
                        [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        [(ngModel)]="relationshipDetails.ClientTermType.Id"
                        (onChange)="onBlurEvent('RELATIONSHIP$DETAILS')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->

                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area">
                    <!--Label-->
                    <label class="input_lbl">Client Terms</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <input class="input_field" type="number" inputrestriction="^[0-9]*$"
                        onKeyPress="if(value.length==20) return false;"
                        [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        [(ngModel)]="relationshipDetails.ClientTerms" (blur)="onBlurEvent('RELATIONSHIP$DETAILS')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->
                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area">
                    <!--Label-->
                    <label class="input_lbl">Default Deposit</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <input class="input_field" type="number" onKeyPress="if(value.length==20) return false;"
                        [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        [(ngModel)]="relationshipDetails.DefaultDeposit" (blur)="onBlurEvent('RELATIONSHIP$DETAILS')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->
                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area">
                    <!--Label-->
                    <label class="input_lbl">Month Day Alert</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <input class="input_field" type="number" inputrestriction="^[0-9]*$"
                        onKeyPress="if(value.length==10) return false;"
                        [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        [(ngModel)]="relationshipDetails.MonthDayAlert" (blur)="onBlurEvent('RELATIONSHIP$DETAILS')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->
                <!--Input and label-->
                <div class="col-lg-6 flex input_area">
                    <!--Label-->
                    <label class="input_lbl">Financial Notes</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <textarea class="input_field" type="text" onKeyPress="if(value.length==200) return false;"
                        [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        [(ngModel)]="relationshipDetails.FinancialNotes"
                        (blur)="onBlurEvent('RELATIONSHIP$DETAILS')"></textarea>
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->

                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area">
                    <!--Label-->
                    <label class="input_lbl">Supplier Term Type</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <p-dropdown [options]="displayTermTypeList" class="width_50" autoWidth="false"
                        placeholder="Select an option"
                        [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        [(ngModel)]="relationshipDetails.SupplierTermType.Id"
                        (onChange)="onBlurEvent('RELATIONSHIP$DETAILS')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->

                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area">
                    <!--Label-->
                    <label class="input_lbl">Supplier Terms</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <input class="input_field" type="number" inputrestriction="^[0-9]*$"
                        onKeyPress="if(value.length==20) return false;"
                        [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        [(ngModel)]="relationshipDetails.SupplierTerms" (blur)="onBlurEvent('RELATIONSHIP$DETAILS')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->
                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area input_area_switch">
                    <!--Label-->
                    <label class="input_lbl">Is Supplier</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <p-inputSwitch [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        [(ngModel)]="relationshipDetails.IsSupplier" (onChange)="onBlurEvent('RELATIONSHIP$DETAILS')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->
                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area exp_acc_ddp">
                    <!--Label-->
                    <label class="input_lbl">Expense Account</label>
                    <!--End of Label-->
                    <!--Input area-->


                    <button pTooltip="Select expense account" tooltipPosition="top" class="exp_acc_ddp_btn"
                        [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        (click)="onClickExpAccountDD()">
                        <div>{{relationshipDetails.ExpenseAccount.Name == '' ? 'Select an option' :
                            relationshipDetails.ExpenseAccount.Name }}</div>

                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </button>

                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->
                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area input_area_switch">
                    <!--Label-->
                    <label class="input_lbl">Is Subcontractor</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <p-inputSwitch [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        [(ngModel)]="relationshipDetails.IsSubcontractor"
                        (onChange)="onBlurEvent('RELATIONSHIP$DETAILS')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->

                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area input_area_switch">
                    <!--Label-->
                    <label class="input_lbl">Is Client</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <p-inputSwitch [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        [(ngModel)]="relationshipDetails.IsClient" (onChange)="onBlurEvent('RELATIONSHIP$DETAILS')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->

                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area input_area_switch">
                    <!--Label-->
                    <label class="input_lbl">Auto Progress Report</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <p-inputSwitch [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        [(ngModel)]="relationshipDetails.IsAutoProgressReport"
                        (onChange)="onBlurEvent('RELATIONSHIP$DETAILS')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->
                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area">
                    <!--Label-->
                    <label class="input_lbl">Report Day</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <p-dropdown [options]="displayDayDetailsList" class="width_50" autoWidth="false"
                        placeholder="Select an option"
                        [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        [(ngModel)]="relationshipDetails.DayDetails.Id"
                        (onChange)="onBlurEvent('RELATIONSHIP$DETAILS')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->
                <!--Input and label-->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area">
                    <!--Label-->
                    <label class="input_lbl">Next Report Date / Time</label>
                    <!--End of Label-->
                    <!--Input area-->
                    <input class="input_field" type="datetime-local"
                        [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                        [(ngModel)]="relationshipDetails.NextReportDateTime"
                        (blur)="onBlurEvent('RELATIONSHIP$DETAILS')" />
                    <!--End of Input area-->
                </div>
                <!--End of Input and label-->

            </div>
            <!--End of Relationship-->

        </p-accordionTab>
        <p-accordionTab header="Contacts">
            <!--Contacts-->
            <div class="">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <p-table class="contacts_tbl" [value]="contactList" dataKey="Id"
                            [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-striped">
                            <ng-template pTemplate="header">
                                <tr class="table_header_row">

                                    <th class="header_col" style="width:30%">
                                        Contact Name(s)
                                    </th>
                                    <th class="header_col" style="width:30%">
                                        Contact Type
                                    </th>
                                    <th class="header_col" style="width:30%">
                                        Contact
                                    </th>
                                    <th class="header_col" style="width:10%">
                                        Action
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-contact let-rowIndex="rowIndex">
                                <tr>
                                    <td>
                                        <input class="input_field" type="text" inputrestriction="^[a-z A-Z 0-9]*$"
                                            onKeyPress="if(value.length==100) return false;"
                                            [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                                            [(ngModel)]="contact.Name"
                                            (blur)="onBlurEvent('CONTACT$DETAILS',rowIndex,contact)" />
                                    </td>
                                    <td>
                                        <p-dropdown [options]="displayContactTypeList" class="width_50"
                                            autoWidth="false" appendTo="body" placeholder="Select an option"
                                            [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                                            [(ngModel)]="contact.ContactType.Id"
                                            (onChange)="onBlurEvent('CONTACT$DETAILS',rowIndex,contact)" />
                                    </td>
                                    <td>
                                        <input class="input_field" type="text"
                                            onKeyPress="if(value.length==50) return false;"
                                            [inputrestriction]="(contact.ContactType.Id == 1)?'^[0-9]*$':(contact.ContactType.Id == 2)?'^[0-9]*$':(contact.ContactType.Id == 3)?'^[0-9]*$':(contact.ContactType.Id == 4)?'^[0-9]*$':(contact.ContactType.Id == 5)?'^[a-z A-Z 0-9 @ . _ -]*$':(contact.ContactType.Id == 6)?'a-z A-Z 0-9 . _ -':(contact.ContactType.Id == 7)?'^[0-9]*$':(contact.ContactType.Id == 8)?'^[0-9]*$':(contact.ContactType.Id == 9)?'a-z A-Z 0-9 @ . _ -':''"
                                            [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                                            [(ngModel)]="contact.ContactValue"
                                            (focusout)="contactValueFocusOut(contact,rowIndex)"
                                            (blur)="onBlurEvent('CONTACT$DETAILS',rowIndex,contact)" />
                                    </td>
                                    <td class="action_button">
                                        <button pTooltip="Delete" tooltipPosition="top" class="red_btn"
                                            [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                                            (click)="onDeleteContact(contact)">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>

                        <!-- Pagination section -->
                        <p-paginator class="paginator_sec" #modulePaginator
                            *ngIf="(contactList && contactList.length > 0 && contactList[0].TotalRecords > 10)"
                            [rows]="contactFilter.RecordsPerPage" (onPageChange)="onPageChange($event, 'CONTACT')"
                            [totalRecords]="(contactList.length>0)? contactList[0].TotalRecords:0"></p-paginator>
                        <!-- End of Pagination section -->

                    </div>
                </div>
            </div>
            <!--End of Contacts-->
        </p-accordionTab>
        <p-accordionTab header="Social Media">
            <!--Social Media-->
            <div class="">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <p-table class="contacts_tbl" [value]="socialMediaList" dataKey="Id"
                            [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-striped">
                            <ng-template pTemplate="header">
                                <tr class="table_header_row">
                                    <th class="header_col" style="width:25%">
                                        Type
                                    </th>
                                    <th class="header_col" style="width:25%">
                                        Setting
                                    </th>
                                    <th class="header_col" style="width:10%">
                                        Action
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-socialMedia let-rowSMIndex="rowIndex">
                                <tr>
                                    <td>
                                        <p-dropdown [options]="displaySocialMediaTypeList" class="width_50"
                                            autoWidth="false" appendTo="body" placeholder="Select an option"
                                            [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                                            [(ngModel)]="socialMedia.SocialMediaType.Id"
                                            (onChange)="onBlurEvent('SOCIAL$MEDIA$DETAILS',rowSMIndex,null,socialMedia)" />
                                    </td>
                                    <td>
                                        <input class="input_field " type="text"
                                            onKeyPress="if(value.length==100) return false;"
                                            [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                                            [(ngModel)]="socialMedia.Setting"
                                            (blur)="onBlurEvent('SOCIAL$MEDIA$DETAILS',rowSMIndex,null,socialMedia)" />
                                    </td>
                                    <td class="action_button">
                                        <button pTooltip="Delete" tooltipPosition="top" class="red_btn"
                                            [disabled]="(!clientCustomer.BusinessName) || modificationMode == 'VIEW'"
                                            (click)="onDeleteSocialMedia(socialMedia)">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>

                        <!-- Pagination section -->
                        <p-paginator class="paginator_sec" #modulePaginator
                            *ngIf="(socialMediaList && socialMediaList.length > 0 && socialMediaList[0].TotalRecords > 10)"
                            [rows]="socialMediaFilter.RecordsPerPage"
                            (onPageChange)="onPageChange($event, 'SOCIAL$MEDIA')"
                            [totalRecords]="(socialMediaList.length>0)? socialMediaList[0].TotalRecords:0"></p-paginator>
                        <!-- End of Pagination section -->
                    </div>
                </div>
            </div>
            <!--End of Social Media-->
        </p-accordionTab>
    </p-accordion>
    <!-- End of Accordion section -->
</div>
<!--End of Gen info main-->