<!-- Main content section -->
<div class="layout-topbar">
    <!-- First row section -->
    <div class="display_flex_center">
        <!-- Logo section -->
        <a class="layout-topbar-logo" routerLink="/layout">
            <!-- <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg"
            alt="logo"> -->
            <img src="../../../assets/images/logo_aws.png">

        </a>
        <!-- End of Logo section -->

        <!-- Logo section -->
        <!-- <div class="logo_section">
        <img src="../../../assets/images/logo_aws.png">
    </div> -->
        <!-- End of Logo section -->


        <!-- Menu bar section -->
        <button #menubutton class="p-link layout-menu-button layout-topbar-button"
            (click)="layoutService.onMenuToggle()" pTooltip="Toggle side menu" tooltipPosition="top">
            <i class="pi pi-bars"></i>
        </button>
        <!-- End of Menu bar section -->

        <!-- Menu bar section for mobile -->
        <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button flex_align_right"
            (click)="layoutService.showProfileSidebar()">
            <i class="pi pi-ellipsis-v"></i>
        </button>
        <!-- End of Menu bar section for mobile -->

        <!-- Top bar menu section -->
        <div #topbarmenu class="layout-topbar-menu flex_align_right"
            [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
            <!-- <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button> -->
            <button class="p-link layout-topbar-button" (click)="opSettingsList.toggle($event)" pTooltip="Settings"
                tooltipPosition="top">
                <i class="pi pi-cog"></i>
                <span>Settings</span>
            </button>
        </div>
        <!-- End of Top bar menu section -->
    </div>
    <!-- End of First row section -->

    <!-- Top menu section -->
    <div class="top_menu_section user_top_menu" *ngIf="staticMenuItemsDisplay.length > 0">
        <div class="card">
            <p-tabMenu [scrollable]="true" [model]="staticMenuItemsDisplay">
                <ng-template pTemplate="item" let-item>
                    <!--Single Item section-->
                    <div class="single_item" (click)="itemClick($event,item)" [routerLink]="item.RedirectUrl"
                        routerLinkActive="active-route">
                        <!--Item icon-->
                        <div class="icon_label">
                            <i [ngClass]="item.ModuleIcon" class="layout-menuitem-icon"></i>
                        </div>
                        <!--End of Item icon-->

                        <!--Label section-->
                        <div class="tab_label">
                            {{item.Name}}
                        </div>
                        <!--End of Label section-->

                        <!--Notification count-->
                        <!--Notification count-->
                        <div *ngIf="(item.ModuleCode == 'STAT1')" class="noti_count">
                            {{ttlNotCount}}
                        </div>
                        <!--End of Notification count-->
                        <!--End of Notification count-->
                    </div>
                    <!--End of Single Item section-->
                </ng-template>
            </p-tabMenu>
        </div>
    </div>
    <!-- End of Top menu section -->
</div>
<!-- End of Main content section -->

<!-- Over panel section for the settings list -->
<p-overlayPanel #opSettingsList>
    <!-- Each option -->
    <div class="option_label" (click)="toggleNavigation();opSettingsList.toggle($event);">
        <span>Toggle Menu Navigation</span>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
    <!-- End of Each option -->

    <!-- Each option -->
    <div class="option_label" (click)="logoutOnClick()">
        <span>Logout</span>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
    <!-- End of Each option -->
</p-overlayPanel>
<!-- End of Over panel section for the settings list -->