.tab-custom-element {
    display: flex;
    padding: 0;

    .disabled_tab {
        opacity: 0.5;
        cursor: not-allowed !important;
    }

    .tab-section {
        border: 1px solid #ccc;
        height: auto;
        align-items: center;
        display: flex;
        margin: 0 !important;
        top: 0 !important;
        padding: 0.042em 0.35em;
        background-color: #fff;
        max-height: 35px;
        cursor: pointer;
    }

    span {
        color: #333;
        padding: 0.26em 0.35em;
    }

    .selected-tab {
        background-color: #e5e5e5  !important;
        font-weight: bold;

        span,
        i {
            color: black;
        }
        
    }

    .settings_tab {
        padding-left: 8px;
        padding-right: 10px;
        i {
            color: #126095 ;
        }
    }

    .noti_count {
        text-decoration: none;
        height: 20px;
        width: max-content;
        background-color: #c30505;
        display: flex;
        align-items: center;
        padding: 0px 5px;
        border-radius: 8px;
        font-weight: bold;
        text-decoration: none;
        font-size: 11px;
        color: #fff !important;
    }
}

.flex_center_just_center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 991px) {
    .tab-custom-element {
        display: block;
    }
}

