<!-- Main section -->
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 tab-custom-element tap-height">
    <div *ngFor="let tabObject of TabViewList; let i=index" class="flex_center_just_center" appAccessLevelVerification
        SelectedModuleCode='{{SelectedModuleCode}}' SelectedModuleAccessCode='{{tabObject.value}}' [IsTab]='true'
        [ngClass]="[(SelectedTab && SelectedTab.value && SelectedTab.value == tabObject.value)?'selected-tab':'', (tabObject.value=='Deals 11')?'disabled_tab':'',(TabViewType=='SUB')?'sub tab-section':'tab-section']"
        (click)="onclickTabView(i)">
        <span>{{tabObject.label}}</span>
        <span *ngIf="tabObject.value == 'SystemEnhancement'" class="noti_count">{{countSE}}</span>
        <span *ngIf="tabObject.value == 'BugFixes'" class="noti_count">{{countBF}}</span>
    </div>
</div>
<!-- End of Main section -->