$primary-color: #00588f;
body{
    height: 100% !important;
}


.module_selector_main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #008acc, #00588f);

    //background-image: linear-gradient(to right, #ffffff, #7D7D7D);

}

