<!--Gen info main-->
<div class="card flex justify-content-center gen_info_main">
    <!--User roles and accordions-->
    <div class="row roles_accordions">
        <!--user roles-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-2 user_roles">
            <!--Header-->
            <div class="user_roles_header">
                <!--Label-->
                <label>User Roles</label>
                <!--End of Label-->
                <!--Add new button-->
                <button class="add_new" (click)="onClickAddNewRole()">+</button>
                <!--End of Add new button-->

            </div>
            <!--End of Header-->

            <div class="user_role" *ngIf="userRoleModState == 'NEW'">
                <!--Label-->
                <input placeholder="Add New..." class="input_ur" [(ngModel)]="newUserRoleName" />
                <!--End of Label-->

                <!--Button panel-->
                <div class="btn_panel">
                    <button class="btn_blue" (click)="onClickCreateRole()"><i class="fa fa-check"
                            aria-hidden="true"></i></button>
                    <button class="btn_red" (click)="onClickCancelRole()"><i class="fa fa-times"
                            aria-hidden="true"></i></button>
                </div>
                <!--End of Button panel-->

            </div>

            <div *ngFor="let role of userRoles" class="user_role">
                <!--Label-->
                <label *ngIf="role.Id != editingUserRole" (click)="selectUserRole(role)"
                    [ngClass]="role.Id == selectedRoleId ? 'user_role_selected' : ''">{{role.Name}}</label>
                <input *ngIf="role.Id == editingUserRole" [(ngModel)]="role.Name" value="General Manager"
                    class="input_ur" />
                <!--End of Label-->

                <!--Button panel-->
                <div class="btn_panel">
                    <button *ngIf="role.Id != editingUserRole" class="btn_green" (click)="onClickDuplicateRole(role)"><i
                            class="fa fa-files-o" aria-hidden="true"></i></button>
                    <button *ngIf="role.Id != editingUserRole" class="btn_blue" (click)="onClickEditRole(role.Id)"><i
                            class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button *ngIf="role.Id != editingUserRole" class="btn_red" (click)="onClickDeleteRole(role)"><i
                            class="fa fa-trash" aria-hidden="true"></i></button>

                    <button *ngIf="role.Id == editingUserRole" class="btn_blue" (click)="onClickUpdateRole(role)"><i
                            class="fa fa-check" aria-hidden="true"></i></button>
                    <button *ngIf="role.Id == editingUserRole" class="btn_red" (click)="onClickCancelRole()"><i
                            class="fa fa-times" aria-hidden="true"></i></button>
                </div>
                <!--End of Button panel-->

            </div>


        </div>
        <!--End of user roles-->

        <!-- Accordion section -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-10 access_accordions">

            <p-accordion [multiple]="true" [activeIndex]="[0,1]">
                <p-accordionTab header="Module Access Levels">

                    <!--Module access row-->
                    <div class="row gen_info_item">
                        <!--Input and label-->
                        <div *ngFor="let module of moduleList"
                            class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 flex input_area_switch">


                            <!--Label-->
                            <label class="input_lbl">{{module.Name}}</label>
                            <!--End of Label-->
                            <!--Input area-->
                            <p-inputSwitch [(ngModel)]="module.IsDisable" (onChange)="onChangeModuleAccess(module)" />
                            <!--End of Input area-->

                        </div>
                        <!--End of Input and label-->

                    </div>
                    <!--End of Module access row-->

                </p-accordionTab>

                <p-accordionTab header="Module Feature Access Levels">
                    <!--Module selector and header-->
                    <div class="row gen_info_item">
                        <label class="input_lbl_hdr">Access levels for the role (View Only)</label>
                    </div>
                    <!--End of Module selector and header-->



                    <!--Module selector and header-->
                    <div class="row gen_info_item">
                        <!--Input and label-->
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 flex input_area">
                            <label class="module_drp_lbl">Access modules for the role</label>
                            <!--Input area-->
                            <p-dropdown [options]="accessibleModules" class="width_50" autoWidth="false"
                                placeholder="Select an option" [(ngModel)]="selectedAccModule" optionLabel="Name"
                                (onChange)="onChangeAccessibleModule()" />
                            <!--End of Input area-->
                        </div>
                        <!--End of Input and label-->
                    </div>
                    <!--End of Module selector and header-->

                    <!--Module access row-->
                    <div *ngIf="selectedAccModule" class="row gen_info_item">
                        <!--Input and label-->
                        <div *ngFor="let tab of subTabs"
                            class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 sub_tab_item">


                            <div class="sub_tab">

                                <!--Input area-->
                                <p-inputSwitch [(ngModel)]="tab.EnableAccess"
                                    (onChange)="onChangeSubTabAccessLevel(tab)" />
                                <!--End of Input area-->
                                <!--Label-->
                                <label class="input_lbl">{{tab.Name}}</label>
                                <!--End of Label-->
                            </div>

                            <!--Tab features-->
                            <div class="features_list">
                                <!--Single feature-->
                                <div class="feature_item" *ngFor="let feature of tab.AccessLevelFeatureDetailsList">
                                    <div>

                                        <!--Label-->
                                        <label class="input_lbl">{{feature.Name}}</label>
                                        <!--End of Label-->


                                    </div>



                                    <div class="feature_actions">
                                        <div class="switch_and_lbl">
                                            <!--Input area-->
                                            <p-inputSwitch [(ngModel)]="feature.AddAccess"
                                                (onChange)="onChangeSubTabFeature(feature)" />
                                            <!--End of Input area-->
                                            <!--Label-->
                                            <label class="lbl">Add</label>
                                            <!--End of Label-->
                                        </div>

                                        <div class="switch_and_lbl">

                                            <!--Input area-->
                                            <p-inputSwitch [(ngModel)]="feature.EditAccess"
                                                (onChange)="onChangeSubTabFeature(feature)" />
                                            <!--End of Input area-->
                                            <!--Label-->
                                            <label class="lbl">Edit</label>
                                            <!--End of Label-->
                                        </div>

                                        <div class="switch_and_lbl">
                                            <!--Input area-->
                                            <p-inputSwitch [(ngModel)]="feature.DeleteAccess"
                                                (onChange)="onChangeSubTabFeature(feature)" />
                                            <!--End of Input area-->
                                            <!--Label-->
                                            <label class="lbl">Delete</label>
                                            <!--End of Label-->

                                        </div>
                                    </div>
                                </div>
                                <!--End Single feature-->

                            </div>
                            <!--End of Tab features-->



                        </div>
                        <!--End of Input and label-->
                        <!-- Pagination section -->
                        <p-paginator class="paginator_sec" #modulePaginator
                            *ngIf="subTabs && subTabs.length > 0 && subTabs[0].TotalRecords > filter.RecordsPerPage"
                            [rows]="filter.RecordsPerPage" (onPageChange)="onPageChange($event)"
                            [totalRecords]="(subTabs.length>0)? subTabs[0].TotalRecords:0"></p-paginator>
                        <!-- End of Pagination section -->

                    </div>
                    <!--End of Module access row-->

                    <!--Module access row-->
                    <div *ngIf="!selectedAccModule" class="row gen_info_item">
                        <div class="col-12 flex justify-content-center">
                            Select module from dropdown
                        </div>
                    </div>
                    <!--End of Module access row-->


                    <!--Module access row-->
                    <div *ngIf="selectedAccModule && subTabs.length == 0" class="row gen_info_item">
                        <div class="col-12 flex justify-content-center">
                            No features sub tabs for the selected module.
                        </div>
                    </div>
                    <!--End of Module access row-->





                </p-accordionTab>
            </p-accordion>

        </div>
        <!-- End of Accordion section -->
    </div>
    <!--User roles and accordions-->




</div>
<!--End of Gen info main-->