<!-- Main content section -->

<a (click)="itemClick($event)" class="menu_item_main" [routerLink]="item.RedirectUrl" routerLinkActive="active-route" pRipple>
    <!--Single Item section-->
    <div class="single_item" [pTooltip]="item.Name"
    tooltipPosition="right">
        <!--Item icon-->
        <div class="item_icon" [ngClass]="mouseEnter ? 'auto_width margin_left_13' : 'full_width '">
            <i [ngClass]="item.ModuleIcon" class="layout-menuitem-icon"></i>
        </div>
        <!--End of Item icon-->

        <!--Item label-->
        <div *ngIf="mouseEnter" class="item_label">
           <div>
            <span class="layout-menuitem-text">{{item.Name}}</span>
           </div>
           <div class="margin_right_13">
            <span>></span>
           </div>
        </div>
        <!--End of Item label-->


    </div>
    <!--End of Single Item section-->


</a>
<!-- End of Main content section -->