<!--Client requirements main-->
<div class="card flex justify-content-center gen_info_main">
    <!-- According section -->
    <p-accordion [multiple]="true" [activeIndex]="[0, 1]">
        <!-- Client requirements section -->
        <p-accordionTab header="Client Requirements">
            <!--Client Requirements-->
            <div class="">
                <!-- Top content section -->
                <div class="row">
                    <!-- Client requirements table section -->
                    <div class="col-12 col-lg-9">
                        <!-- When the client requirements are empty -->
                        <div *ngIf="clientRequirementList.length == 0">
                            <span>There are no client requirements</span>
                        </div>
                        <!-- End of When the client requirements are empty -->

                        <!-- When the client requirements are not empty -->
                        <p-table class="contacts_tbl" [value]="clientRequirementList" dataKey="id"
                            [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-striped">
                            <!-- Header section -->
                            <ng-template pTemplate="header">
                                <tr class="table_header_row">
                                    <th class="header_col" style="width:30%">
                                        Client Requirements
                                    </th>
                                    <th class="header_col" style="width:30%">
                                        Attachments
                                    </th>
                                    <th class="header_col" style="width:10%">
                                        Actions
                                    </th>
                                    <th class="header_col" style="width:20%">
                                        Roles
                                    </th>
                                </tr>
                            </ng-template>
                            <!-- End of Header section -->

                            <!-- Body table section -->
                            <ng-template pTemplate="body" let-clientRequirement let-rowIndex="rowIndex">
                                <tr>
                                    <!--Requirement text-->
                                    <td class="requirement_description">
                                        <!--requirement description-->
                                        <input class="input_field" type="text" placeholder="Enter Title"
                                            [disabled]="selectedClientId == 0" [(ngModel)]="clientRequirement.Title"
                                            (blur)="onBlurEvent('CLIENT$REQUIREMENTS',rowIndex,clientRequirement)" />
                                        <!--End of requirement description-->
                                        <!-- Description input -->
                                        <div (click)="enterEditingItem(rowIndex)" (mouseleave)="enterLeaveItem()"
                                            [class]="editingItem_index == rowIndex ? 'show_editor_header': 'hide_editor_header'">
                                            <p-editor [readonly]="selectedClientId == 0"
                                                (onTextChange)="onBlurEvent('CLIENT$REQUIREMENTS',rowIndex,clientRequirement,$event)"
                                                [(ngModel)]="clientRequirement.AdditionalData">
                                            </p-editor>
                                        </div>
                                        <!-- End of Description input -->
                                    </td>
                                    <!--End of Requirement text-->

                                    <!--Uploaded file section-->
                                    <td class="uploaded_files_section">
                                        <!-- When the files is empty -->
                                        <div class="no_roles_label"
                                            *ngIf="clientRequirement.ClientRequirementFiles.length == 0">
                                            <span>No Files Uploaded</span>
                                        </div>
                                        <!-- End of When the files is empty -->

                                        <!--File List-->
                                        <div *ngFor="let item of clientRequirement.ClientRequirementFiles"
                                            class="uploaded_files_list">
                                            <!-- Display label section -->
                                            <div>{{item.FileName}}</div>
                                            <!-- End of Display label section -->

                                            <!-- Buttons section -->
                                            <div class="action_button">
                                                <!-- Download button -->
                                                <button class="blue_btn">
                                                    <i class="fa fa-download" aria-hidden="true"></i>
                                                </button>
                                                <!-- End of Download button -->

                                                <!-- Delete button -->
                                                <button class="red_btn"
                                                    (click)="removeClientRequirementFile(clientRequirement,item)">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                                <!-- End of Delete button -->
                                            </div>
                                            <!-- End of Buttons section -->
                                        </div>
                                        <!--End of File List-->

                                        <!--Upload button-->
                                        <div class="action_button_upl">
                                            <button (click)="clickOnUploadRequirementFile(clientRequirement)"
                                                [disabled]="selectedClientId == 0" class="yellow_btn">Upload
                                                Files</button>
                                        </div>
                                        <!--End of Upload button-->

                                    </td>
                                    <!--End of Uploaded file section-->

                                    <!--Action buttons sec-->
                                    <td>
                                        <div class="">
                                            <!--Action buttons-->
                                            <div class="action_button">
                                                <button class="red_btn" [disabled]="selectedClientId == 0"
                                                    (click)="removeClientRequirement(clientRequirement)">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                                <button class="grey_btn margin_lr_5" [disabled]="selectedClientId == 0"
                                                    (click)="rankChangeClientRequirement(clientRequirement,'UP')">
                                                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                                </button>
                                                <button class="grey_btn" [disabled]="selectedClientId == 0"
                                                    (click)="rankChangeClientRequirement(clientRequirement,'DOWN')">
                                                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                            <!--Action buttons-->

                                            <!--Add to Global-->
                                            <div class="action_button">
                                                <button (click)="clickOnAddToGlobal(clientRequirement)"
                                                    class="blue_btn_spe"
                                                    [disabled]="selectedClientId == 0 || clientRequirement.Title == ''">Add
                                                    To Global</button>
                                            </div>
                                            <!--End of Add to Global-->

                                        </div>
                                    </td>
                                    <!--End of Action buttons sec-->

                                    <!--Roles-->
                                    <td class="uploaded_files_section">
                                        <!-- When the roles is empty -->
                                        <div class="no_roles_label" *ngIf="clientRequirement.RoleDetails.length == 0">
                                            <span>No Roles Selected</span>
                                        </div>
                                        <!-- End of When the roles is empty -->

                                        <!-- Display Role list -->
                                        <div *ngFor="let item of clientRequirement.RoleDetails; let roleIndex = index"
                                            class="uploaded_files_list">
                                            <!-- Role name -->
                                            <div>{{item.Name}}</div>
                                            <!-- End of Role name -->

                                            <!-- Delete button -->
                                            <div class="action_button">
                                                <button class="red_btn" [disabled]="selectedClientId == 0"
                                                    (click)="removeClientRequirementRole(clientRequirement, roleIndex)">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                            <!-- End of Delete button -->
                                        </div>
                                        <!-- End of Display Role list -->

                                        <!-- Select Buttons section -->
                                        <div class="action_button_upl">
                                            <button [disabled]="selectedClientId == 0" class="green_btn"
                                                (click)="onClickUserRole(clientRequirement,rowIndex)">
                                                Select Roles
                                            </button>
                                        </div>
                                        <!-- End of Select Buttons section -->
                                    </td>
                                    <!--End of Roles-->
                                </tr>
                            </ng-template>
                            <!-- End of Body table section -->
                        </p-table>
                        <!-- End of When the client requirements are not empty -->

                        <!-- Pagination section -->
                        <p-paginator class="paginator_sec" #modulePaginator
                            *ngIf="(clientRequirementList && clientRequirementList.length > 0 && clientRequirementList[0].TotalRecords > 10)"
                            [rows]="filterClientRequirements.RecordsPerPage"
                            (onPageChange)="onPageChange($event,'CLIENT$REQUIREMENTS')"
                            [totalRecords]="(clientRequirementList.length>0)? clientRequirementList[0].TotalRecords:0"></p-paginator>
                        <!-- End of Pagination section -->

                    </div>
                    <!-- End of Client requirements table section -->

                    <!-- Global files section -->
                    <div class="col-12 col-lg-3">
                        <p-table class="contacts_tbl" [value]="globalFilesList" dataKey="id">
                            <ng-template pTemplate="header">
                                <tr class="table_header_row">

                                    <th class="header_col" style="width:30%">
                                        Global Files
                                    </th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-globalFile let-editing="editing">
                                <tr class="global_file_list">
                                    <td>
                                        <!--Global file item div-->
                                        <div class="global_file_div">
                                            <div class="global_file">
                                                <span>{{globalFile.FileName}}</span>
                                            </div>
                                            <div class="action_button_glbl">
                                                <button class="blue_btn" [disabled]="selectedClientId == 0">
                                                    <i class="fa fa-download" aria-hidden="true"></i>
                                                </button>
                                                <button class="red_btn" [disabled]="selectedClientId == 0"
                                                    (click)="removeGlobalFile(globalFile)">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <!--End of Global file item div-->


                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
                        <!-- Pagination section -->
                        <p-paginator class="paginator_sec" #modulePaginator
                            [ngClass]="(globalFilesList && globalFilesList.length > 0 && globalFilesList[0].TotalRecords > 10)?'':'display_hide'"
                            [rows]="filterGlobalFiles.RecordsPerPage"
                            (onPageChange)="onPageChange($event,'GLOBAL$FILES')"
                            [totalRecords]="(globalFilesList.length>0)? globalFilesList[0].TotalRecords:0"></p-paginator>
                        <!-- End of Pagination section -->
                        <button class="long_txt_btn full_width" (click)="clickOnUploadGlobalFile()"
                            [disabled]="selectedClientId == 0">Add New Global
                            Files</button>
                    </div>
                    <!-- End of Global files section -->
                </div>
                <!-- End of Top content section -->

                <!-- Bottom content section -->
                <div class="row">
                    <div class="col-12">
                        <!-- Buttons section -->
                        <button [disabled]="selectedClientId == 0" class="long_txt_btn"
                            (click)="onClickAddFromGlobalReq()">Add New From Global</button>
                        <button [disabled]="selectedClientId == 0" class="long_txt_btn"
                            (click)="addNewEmptyClientRequirement()">Add New From Empty</button>
                        <!-- End of Buttons section -->
                    </div>
                </div>
                <!-- End of Bottom content section -->
            </div>
            <!--End of Client Requirements-->
        </p-accordionTab>
        <!-- End of Client requirements section -->

        <!-- Hourly other rates section -->
        <p-accordionTab header="Hourly and Other Rates">
            <!--Hourly and Other Rates-->
            <div class="">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <p-table class="contacts_tbl" [value]="hoursOthersRatesList" dataKey="id"
                            [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-striped">
                            <ng-template pTemplate="header">
                                <tr class="table_header_row">
                                    <th class="header_col" style="width:25%">
                                        Rate Name
                                    </th>
                                    <th class="header_col" style="width:25%">
                                        Rate
                                    </th>
                                    <th class="header_col" style="width:25%">
                                        Rate Type (eg, per hour)
                                    </th>
                                    <th class="header_col" style="width:10%">
                                        Actions
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-hoursOthersRates let-rowHORIndex="rowIndex">
                                <tr>
                                    <td>
                                        <textarea class="input_field " placeholder="Enter Rate Name"
                                            [disabled]="selectedClientId == 0" [(ngModel)]="hoursOthersRates.RateName"
                                            (blur)="onBlurEvent('HOURLY$OTHER$RATES',rowHORIndex,null,null,hoursOthersRates)"></textarea>
                                    </td>
                                    <td>
                                        <input class="input_field " type="number" [disabled]="selectedClientId == 0"
                                            [(ngModel)]="hoursOthersRates.Rate"
                                            (blur)="onBlurEvent('HOURLY$OTHER$RATES',rowHORIndex,null,null,hoursOthersRates)" />
                                    </td>
                                    <td>
                                        <input class="input_field " placeholder="Enter Rate Type (eg, per hour)"
                                            type="text" [disabled]="selectedClientId == 0"
                                            [(ngModel)]="hoursOthersRates.RateType"
                                            (blur)="onBlurEvent('HOURLY$OTHER$RATES',rowHORIndex,null,null,hoursOthersRates)" />
                                    </td>

                                    <!--Action buttons sec-->
                                    <td>
                                        <div class="">
                                            <!--Action buttons-->
                                            <div class="action_button">
                                                <button class="red_btn" [disabled]="selectedClientId == 0"
                                                    (click)="removeClientRequirement(clientRequirement)">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                            <!--Action buttons-->
                                        </div>
                                    </td>
                                    <!--End of Action buttons sec-->
                                </tr>
                            </ng-template>
                        </p-table>
                        <!-- Pagination section -->
                        <p-paginator class="paginator_sec" #modulePaginator
                            *ngIf="(hoursOthersRatesList && hoursOthersRatesList.length > 0 && hoursOthersRatesList[0].TotalRecords > 10)"
                            [rows]="filterHoursOtherRates.RecordsPerPage"
                            (onPageChange)="onPageChange($event,'HOURLY$OTHER$RATES')"
                            [totalRecords]="(hoursOthersRatesList.length>0)? hoursOthersRatesList[0].TotalRecords:0"></p-paginator>
                        <!-- End of Pagination section -->
                    </div>
                </div>

            </div>


            <!--End of Hourly and Other Rates-->

        </p-accordionTab>
        <!-- End of Hourly other rates section -->
    </p-accordion>
    <!-- End of According section -->
</div>
<!--End of Client requirements main-->