.clients_main{
    margin: 10px 0px;
   .filter_section{
    margin-bottom: 20px;
    .add_new{
        button{
            height: 30px;
            width: 100%;
            border-radius: 3px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #21ba45;
            color: #fff;
        }
    }
    .filter_item{
        display: flex;
        align-items: center;
        label{
            min-width: 150px;
        }
        input{
            width: 100%;
            margin-left: 10px;
            border-radius: 3px;
            border: 1px solid #ccc;
        }
    }
   }

   .paginator_sec{
    margin-top: 10px;
   }
   
}



::ng-deep p-table .table_body{
    .created_details{
        .created_date_txt{
            color: #9f9f9f;
            font-size: 11px;
        }
    }
    .contact_details{
        .contact_item{
            max-width: 250px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    .action_button{
        display: flex;
        align-items: center;
        justify-content: center;
        button{
            height: 30px;
            width: 33px;
            border-radius: 3px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            
            i{
                color:#fff;
            }
        }
        .red_btn{
            background-color: #DB2828;
        }
        .blue_btn{
           
            background-color: #2867af;
            margin-left: 5px;
            margin-right: 5px;
        }
        .green_btn{
            background-color: #21ba45;
        }
    }
}
::ng-deep p-dropdown  {
    width: 100% !important;
}
::ng-deep .p-dropdown {
    width: 100% !important;
}

::ng-deep p-table .table_header_row{
    background-color: #2185D0  !important;
    th{
        background-color: transparent;
        color: #ffffff;
        padding: 5px;
        height: 30px;
    }
    .header_col{
        text-align: center;
        min-width: 130px;
    }
    .created_details{
        min-width: 200px;
    }
 
}

::ng-deep p-table {
    .p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
        background-color: #EDF7FF ;
    }
    .p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(odd) {
        background-color: #ffffff;
    }
   
    .p-datatable .p-datatable-tbody > tr:hover{
        background-color:  #c8e4fb !important;
    }
    .p-datatable .p-datatable-tbody > tr > td{
        padding: 5px;
        vertical-align: top;
    }
}
