.client_main{
    padding: 0;
    .no_side_padding {
        padding-left: 0;
        padding-right: 0;
    }

    .header_section {
        padding: 0;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        .module_title {
            font-size: 20pt;
            color: #2867af;
            letter-spacing: 0px;
            font-weight: bold;
            margin-right: 20px;
        }
    }
    .top_bar_common {
        height: 39px;
        align-items: center;
        background-color: #f9f9f9;
        padding: 3px;
        border: 1px solid #ccc;
    }

    .tab_content {
        background-color: #f9f9f9;
        padding: 0;
        border: 1px solid #ccc;
    }
}

.back_btn{
    
        height: 30px;
        width: max-content;
        border-radius: 3px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #21ba45;
        padding: 0px 10px;
        color: #fff;
    i{
        color: #fff;
        margin-right: 10px;
    }
}

@media (max-width: 991px) {
    .top_bar_common{
        height: auto !important;
    }
}