<!--Staff Main-->
<div class="col-12 client_main">
    <!-- Header section -->
    <div class="col-12 no_side_padding header_section">
        <!-- Header title -->
        <div class="module_title">
            Staff
        </div>
        <!-- End of Header title -->
          <!--Back to list button-->
        <button *ngIf="!checkRoute()" class="back_btn" (click)="goBackToList()"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back to List</button>
        <!--End of Back to list button-->

    </div>
    <!-- End of Header section -->
    <router-outlet></router-outlet>

    
</div>
<!--End of Staff Main-->