<!-- Main content section -->
<div class="col-xl-12 comments_system_enhancement">
    <!-- Title section -->
    <div class="col-xl-12 title_filter_section">
        <!-- Title section -->
        <div class="marginRight5 marginBottom5 marginTop5">
            <i class="fa fa-commenting title_icon_color" aria-hidden="true"></i>
            <span class="module_title">Comments - {{systemEnhancementTitle}}</span>
        </div>
        <!-- End of Title section -->
    </div>
    <!-- End of Title section -->

    <!-- Body content section on xl screens -->
    <div class="body_content_section">
        <!-- Loop through the comments -->
        <div class="row comment_view_section marginBottom10" *ngFor="let comment of viewSystemEnhancementComment">
            <!-- Comment view section -->
            <div class="col-12 comments_max_div">
                <div [innerHtml]="comment.Description"></div>
            </div>
            <!-- End of Comment view section -->

            <!-- Comment added date -->
            <div class="col-12 display_flex_center justify_end">
                <div class="marginRight5 date_section">By {{comment.AddedUser}} on </div>
                <div class="date_section">{{comment.AddedDate | date:'dd MMM yyyy hh:mm a' }}</div>
            </div>
            <!-- End of Comment added date -->
        </div>
        <!-- End of Loop through the comments -->

        <!-- Empty message place holder -->
        <div class="col-xl-12 default_message_container" *ngIf="viewSystemEnhancementComment.length == 0">
            <span class="default_message">No Records To Display</span>
        </div>
        <!-- End of Empty message place holder -->

        <!-- Paginator section -->
        <div *ngIf="totalRecords > 0">
            <p-paginator (onPageChange)="onPageChangeComments($event)" [rows]="filter.RecordsPerPage"
                [totalRecords]="totalRecords"></p-paginator>
        </div>
    </div>
    <!-- End of Body content section -->



    <!-- Top row section -->
    <div class="marginTop5" appAccessLevelVerification SelectedModuleCode="STAT1"
        SelectedModuleAccessCode="SystemEnhancement" SelectedFeatureAccessCode="SCM" [IsTab]="false" ActionState="ADD">
        <!-- Label section -->
        <div class="prior_label">
            <!-- Label section -->
            <div class="label_section">
                <span>NEW QUESTIONS / COMMENTS</span>
            </div>
            <!-- End of Label section -->
        </div>
        <!-- End of Label section -->
        <hr />
    </div>
    <!-- End of Top row section -->

    <!-- Comments Entering section -->
    <div class="marginTop5 comments_create_section" appAccessLevelVerification SelectedModuleCode="STAT1"
        SelectedModuleAccessCode="SystemEnhancement" SelectedFeatureAccessCode="SCM" [IsTab]="false" ActionState="ADD">
        <p-editor [(ngModel)]="systemEnhancementComment.Description" [style]="{ height: '320px' }"></p-editor>
    </div>
    <!-- End of Comments Entering section -->

    <!-- Error Message -->
    <div class="col-xl-12 no-side-padding error_message" *ngIf="CheckErrorCode('EMPTY$DESCRIPTION')">
        <span>{{CheckErrorCode('EMPTY$DESCRIPTION').ErrorMessage}}</span>
    </div>
    <!-- End of Error Message -->

    <!-- Add reply button -->
    <div class="marginTop5" appAccessLevelVerification SelectedModuleCode="STAT1"
        SelectedModuleAccessCode="SystemEnhancement" SelectedFeatureAccessCode="SCM" [IsTab]="false" ActionState="ADD">
        <button class="add_reply_btn" (click)="addReplyOnClick()" pTooltip="Add reply" tooltipPosition="top">Add
            Reply</button>
    </div>
    <!-- End of Add reply button -->

    <!-- Footer button section -->
    <div class="col-xl-12 footer_section">
        <!-- Footer inner section -->
        <div class="footer_inner_section">
            <!-- Back to list button -->
            <button class="close_btn" (click)="backToListOnClickFunction()" pTooltip="Back to list"
                tooltipPosition="top">
                <span>Back to list</span>
            </button>
            <!-- End of Back to list button -->
        </div>
        <!-- End of Footer inner section -->
    </div>
    <!-- End of Footer button section -->
</div>
<!-- End of Main content section -->

<!-- Snapzing section -->
<div class="divLoadingWrapper" *ngIf="showLoading">
    <div class="divLoadingBg"></div>
    <div class="divLoadingContent">
        <img src="../../../../../assets/images/aws_loading.gif">
    </div>
</div>
<!-- End of the Snapzing section -->