<!-- Main content section -->
<div class="layout-wrapper" [ngClass]="containerClass" [class.display_top_menu]="displayMenuTop==true">
    <!-- Top bar section -->
    <!-- <app-topbar></app-topbar> -->
    <app-new-top-bar (toggleMenus)="toggleMenus($event)"></app-new-top-bar>
    <!-- End of Top bar section -->

    <!-- Side bar section -->
    <div *ngIf="!displayMenuTop" class="d-none d-md-none d-lg-block d-xl-block layout-sidebar"
        (mouseenter)="mouseEnterOnSidebar()" (mouseleave)="mouseLeaveOnSidebar()">
        <app-new-side-bar [mouseEnter]="mouseEnter" [ttlNotCount]="ttlNotCount" [isMobile]="false"></app-new-side-bar>
        <!-- <app-sidebar></app-sidebar> -->
    </div>
    <!-- End of Side bar section -->

    <!-- Side bar section -->
    <div *ngIf="!displayMenuTop" class="d-block d-md-block d-lg-none d-xl-none layout-sidebar" [style.width]="'270px'"
        (mouseleave)="mouseLeaveOnSidebar()">
        <app-new-side-bar [mouseEnter]="true" [ttlNotCount]="ttlNotCount" [isMobile]="true"></app-new-side-bar>
        <!-- <app-sidebar></app-sidebar> -->
    </div>
    <!-- End of Side bar section -->

    <!-- Main container section -->
    <div class="layout-main-container">
        <div class="layout-main">
            <router-outlet></router-outlet>
        </div>

        <!-- Footer section -->
        <app-footer></app-footer>
        <!-- End of Footer section -->
    </div>
    <!-- End of Main container section -->

    <!-- Config section -->
    <!-- <app-config></app-config> -->
    <!-- End of Config section -->

    <div class="layout-mask" (click)="layoutService.hideMenuToggle()"></div>
</div>
<!-- End of Main content section -->