<!--Main client list-->
<div class="card clients_main">
    <!--Filter Section-->
    <div class="filter_section row">
        <!--Add new item-->
        <div class="col-lg-3 add_new" appAccessLevelVerification SelectedModuleCode="STAFF"
            SelectedModuleAccessCode="StaffList" SelectedFeatureAccessCode="STFLST" [IsTab]="false" ActionState="ADD">
            <button (click)="onClickClientModifications('NEW', 0)" pTooltip="Add new client" tooltipPosition="top">+ Add
                New User</button>
        </div>
        <!--End of Add new item-->

        <!--Person type-->
        <!-- <div class="col-lg-3 filter_item">
            <label>Filter By : </label>
            <p-dropdown [options]="personTypes" [(ngModel)]="filter.Param1" (onChange)="onChangeFilter('DRP')" />
        </div> -->
        <!--End of Person type-->
        <!--Search by name-->
        <div class="col-lg-3 filter_item">
            <label>User name : </label>
            <input type="text" [(ngModel)]="filter.SearchQuery" placeholder="Search..."
                (change)="onChangeFilter('SEARCH')" />
        </div>
        <!--End of Search by name-->

        <!--Items per page-->
        <div class="col-lg-3 filter_item">
            <label>Records Per Page : </label>
            <input type="number" min="1" [(ngModel)]="filter.RecordsPerPage" (change)="onChangeFilter('RPP')" />
        </div>
        <!--Items per page-->

    </div>
    <!--End of Filter Section-->

    <!--Client list table-->
    <p-table [value]="staffList" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
        <!-- Table header section -->
        <ng-template pTemplate="header" class="table_header">
            <!-- Header columns -->
            <tr class="table_header_row">
                <th class="header_col text_align_left">Full Name</th>
                <th class="header_col text_align_left">User Role</th>
                <th class="header_col created_details text_align_left">Created On</th>
                <th class="header_col created_details text_align_left">Created By</th>
                <th class="header_col text_align_left">Email</th>
                <th class="header_col text_align_left">Address</th>
                <th class="header_col text_align_left">Date of Birth</th>
                <th class="header_col">Action</th>
            </tr>
            <!-- End of Header columns -->
        </ng-template>
        <!-- End of Table header section -->

        <!-- Table body section -->
        <ng-template pTemplate="body" let-staff>
            <!-- Body columns -->
            <tr class="table_body">
                <td class="created_details">
                    <div [pTooltip]="staff.FullName" tooltipPosition="top">{{staff.FullName}}</div>
                </td>
                <td class="contact_details">
                    <div [pTooltip]="staff.PrimaryUserRole" tooltipPosition="top">{{staff.PrimaryUserRole}}</div>
                </td>
                <td [pTooltip]="staff.CreatedDate | date : 'MMM d, y'" tooltipPosition="top">
                    <div class="created_date_txt" [pTooltip]="staff.CreatedDate | date : 'MMM d, y'"
                        tooltipPosition="top">
                        {{staff.CreatedDate | date : 'MMM d, y'}}</div>
                </td>
                <td [pTooltip]="staff.CreatedBy" tooltipPosition="top">{{staff.CreatedBy}}</td>
                <td [pTooltip]="staff.Email" tooltipPosition="top">{{staff.Email}}</td>
                <td [pTooltip]="staff.Address" tooltipPosition="top">{{staff.Address}}</td>
                <td tooltipPosition="top">
                    <div class="created_date_txt" [pTooltip]="staff.DateOfBirth | date : 'MMM d, y'"
                        tooltipPosition="top">
                        {{staff.DateOfBirth | date : 'MMM d, y'}}</div>
                </td>
                <td class="action_button">
                    <button appAccessLevelVerification SelectedModuleCode="STAFF" SelectedModuleAccessCode="StaffList"
                        SelectedFeatureAccessCode="STFLST" [IsTab]="false" ActionState="VIEW" pTooltip="View"
                        tooltipPosition="top" class="green_btn"
                        (click)="onClickClientModifications('VIEW', staff.Id)"><i class="fa fa-eye"
                            aria-hidden="true"></i></button>
                    <button appAccessLevelVerification SelectedModuleCode="STAFF" SelectedModuleAccessCode="StaffList"
                        SelectedFeatureAccessCode="STFLST" [IsTab]="false" ActionState="EDIT" pTooltip="Edit"
                        tooltipPosition="top" class="blue_btn" (click)="onClickClientModifications('EDIT', staff.Id)"><i
                            class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button appAccessLevelVerification SelectedModuleCode="STAFF" SelectedModuleAccessCode="StaffList"
                        SelectedFeatureAccessCode="STFLST" [IsTab]="false" ActionState="DELETE" pTooltip="Delete"
                        tooltipPosition="top" class="red_btn" (click)="onRemoveCLientCustomer(staff)"><i
                            class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>
            <!-- End of Body columns -->
        </ng-template>
        <!-- End of Table body section -->
    </p-table>
    <!--End of Client list table-->

    <!-- Pagination section -->
    <p-paginator class="paginator_sec" #modulePaginator
        *ngIf="staffList && staffList.length > 0 && staffList[0].Total > filter.RecordsPerPage"
        [rows]="filter.RecordsPerPage" (onPageChange)="onPageChange($event)"
        [totalRecords]="(staffList.length>0)? staffList[0].Total:0"></p-paginator>
    <!-- End of Pagination section -->

</div>
<!--End of Main client list-->