<!--delete confirmation-->
<div class="popup_content">
    <!--Message-->
    <div class="">

        <div >
            <p-table 
                [value]="userRoles" 
                [(selection)]="selectedUserRoles" 
                dataKey="Id" 
                >
                    <ng-template pTemplate="header">
                        <tr class="table_header_row">
                            <th style="width: 4rem" ><p-tableHeaderCheckbox /></th>
                            
                            <th class="header_col">User Role</th>
                          
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-userRole>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="userRole" />
                            </td>
                           
                            <td>{{userRole.Name}}</td>
                            
                        </tr>
                    </ng-template>
            </p-table>
        </div>
    </div>
    <!--End of Message-->
    <!--Button panel outer div-->
    <div class="button_panel_outer">
        <!--Button panel-->
        <div class="button_panel">
            
            <button class="button_red" (click)="onClickCancel()">Cancel</button>
            <button class="button_blue" (click)="onClickSave()">Save</button>
        </div>
        <!--End of Button panel-->
    </div>
    <!--End of Button panel outer div-->





</div>
<!--End of delete confirmation-->