<!--Staff Modifications-->
<div class="col-12 staff_main">

    <!-- Tab view section -->
    <div class="col-12 no_side_padding top_bar_common">
        <!-- Tabs section -->
        <app-tab-view #TabviewSectionRef (onChangeTab)="onChangeTab($event)" [TabViewList]="TabViewList"
            [SelectedTab]="tabSelection">
        </app-tab-view>
        <!-- End of Tabs section -->
    </div>
    <!-- End of Tab view section -->

    <router-outlet></router-outlet>
    
</div>
<!--End of Staff Modifications-->