.font_bold {
    font-weight: bold;
}

.popup_content {
    width: auto;
    margin-bottom: 10px;
    .button_panel_outer {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;

        .button_panel {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: right;

            .button_blue {
                height: 30px;
                width: 100px;
                border-radius: 3px;
                border: none;
                color: #ffffff;
                background-color: #126095;
            }

            .button_red {
                height: 30px;
                width: 100px;
                border-radius: 3px;
                border: none;
                color: #ffffff;
                background-color: #DB2828;
            }
        }

    }

}


.button_panel_outer {
    .button_panel {
        display: flex;
        justify-content: right;
        width: 100%;


        .button_blue {
            height: 30px;
            width: 100px;
            border-radius: 3px;
            border: none;
            color: #ffffff;
            background-color: #126095;
        }

        .button_red {
            height: 30px;
            width: 100px;
            border-radius: 3px;
            border: none;
            color: #ffffff;
            background-color: #DB2828;
        }
    }

}

::ng-deep p-table .table_header_row {
    background-color: #dddddd !important;

    th {
        background-color: transparent;
    }

    .header_col {
        text-align: center;
        min-width: 130px;
    }
    .header_col_l{
        min-width: 300px;
    }

}

::ng-deep p-table {
    
    .req_specs {
        background-color: transparent;

        .req_details_all {
            border: 1px solid #ccc;
            border-radius: 3px;

            .req_title {
                border-bottom: 1px solid #ccc;
                padding: 10px;

            }

            .req_details {
                border-bottom: 1px solid #ccc;
                padding: 10px;
            }

            .assinged_roles {

                padding: 10px;
            }
        }

    }

    .action_buttons {
        .btn_panel {
            display: block;
            

            button {
                width: 111px;
                padding: 0px 10px;
                margin-bottom: 5px;
                height: 30px;
                border-radius: 3px;
            border: none;
            color: #ffffff;
            }
            
        .button_blue {
           
            background-color: #126095;
        }

        .button_red {
           
            background-color: #DB2828;
        }
        }
    }

}

::ng-deep p-accordionTab {
    .p-accordion-header-link {
        padding: 10px;
        background-color: #2185D0;
        color: #fff !important;
    }
    .p-accordion-content{
        background-color: #f7f7f7;
    }
}

::ng-deep p-table .table_header_row{
    background-color: #2185D0  !important;
    th{
        background-color: transparent;
        color: #ffffff;
        padding: 5px;
        height: 30px;
    }
    .header_col{
        text-align: center;
        min-width: 130px;
    }
    .created_details{
        min-width: 200px;
    }
 
}

::ng-deep p-table {
    .p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
        background-color: #EDF7FF;
    }
    .p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(odd) {
        background-color: #ffffff;
    }
   
    .p-datatable .p-datatable-tbody > tr:hover{
        background-color:  #c8e4fb !important;
    }
    .p-datatable .p-datatable-tbody > tr > td{
        padding: 5px;
        vertical-align: top;
    }
}