<!--delete confirmation-->
<div class="popup_content" >
    <!-- When the client requirements are empty -->
    <div *ngIf="globalClientRequirements.length == 0">
        <span>There are no global client requirements</span>
    </div>
    <!-- End of When the client requirements are empty -->

    <!-- Table data section -->
    <p-table appAccessLevelVerification SelectedModuleCode="CLIEN"
    SelectedModuleAccessCode="ClientReq" SelectedFeatureAccessCode="CLGLRQ"
    [IsTab]="false" ActionState="VIEW" [value]="globalClientRequirements" dataKey="code">
        <!-- Table header section -->
        <ng-template pTemplate="header">
            <tr class="table_header_row">
                <th class="header_col_l">Global Client Requirements</th>
                <th class="header_col">Actions</th>
            </tr>
        </ng-template>
        <!-- End of Table header section -->

        <!-- Table body section -->
        <ng-template pTemplate="body" let-globalClientRequirement>
            <tr>
                <td class="req_specs">
                    <div class="req_details_all">
                        <!-- Displaying the title -->
                        <div class="req_title"> {{globalClientRequirement.Title}}</div>
                        <!-- End of Displaying the title -->

                        <!-- Displaying the additional data -->
                        <div class="req_details">
                            <div [innerHtml]="globalClientRequirement.AdditionalData"></div>
                        </div>
                        <!-- End of Displaying the additional data -->

                        <!-- Displaying the assigned roles -->
                        <div class="assinged_roles">
                            <!-- Loop through the roles -->
                            <div *ngFor="let crRole of globalClientRequirement.RoleDetails">
                                <!-- Display the role name -->
                                <span>{{crRole.Name}}</span>
                                <!-- End of Display the role name -->
                            </div>
                            <!-- End of Loop through the roles -->
                        </div>
                        <!-- End of Displaying the assigned roles -->
                    </div>
                </td>
                <td class="action_buttons">
                    <!-- Buttons section -->
                    <div class="btn_panel">
                        <div>
                            <button
                            appAccessLevelVerification SelectedModuleCode="CLIEN"
                                            SelectedModuleAccessCode="ClientReq" SelectedFeatureAccessCode="CLIRTS"
                                            [IsTab]="false" ActionState="ADD" ActionState="DISABLE"
                             class="button_blue" pTooltip="Add To Local" tooltipPosition="top"
                                (click)="addToLocalClientRequirement(globalClientRequirement)">Add To Local</button>
                        </div>
                        <div>
                            <button appAccessLevelVerification SelectedModuleCode="CLIEN"
                            SelectedModuleAccessCode="ClientReq" SelectedFeatureAccessCode="CLGLRQ"
                            [IsTab]="false" ActionState="DELETE" ActionState="DISABLE"class="button_red" pTooltip="Delete" tooltipPosition="top"
                                (click)="deleteGlobalClientRequirement(globalClientRequirement)">Delete</button>
                        </div>
                    </div>
                    <!-- End of Buttons section -->
                </td>
            </tr>
        </ng-template>
        <!-- End of Table body section -->
    </p-table>
    <!-- End of Table data section -->

    <!-- Pagination section -->
    <p-paginator class="paginator_sec" #modulePaginator
        *ngIf="(products && products.length > 0 && products[0].TotalRecords > 10)"
        [rows]="filter.RecordsPerPage" (onPageChange)="onPageChange($event)"
        [totalRecords]="(products.length>0)? products[0].TotalRecords:0"></p-paginator>
    <!-- End of Pagination section -->
</div>


<!--Button panel outer div-->
<div class="button_panel_outer">
    <!--Button panel-->
    <div class="button_panel">
        <button class="button_blue" (click)="onClickCancel()">Close</button>
    </div>
    <!--End of Button panel-->
</div>
<!--End of Button panel outer div-->