/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

input {
    height: 30px;
}

.p-overlaypanel .p-overlaypanel-content {
    padding: 0;
}

.option_label {
    width: 150px;
    padding: 10px;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    span {
        margin-right: auto;
    }
}

.option_label:hover {
    background: #126095;
    color: white;
}

.p-dropdown {
    height: 30px;
    min-width: 200px;
    border-radius: 3px;
}

.p-dropdown .p-dropdown-label {
    padding: 5px;
}

.p-dropdown-items-wrapper ul {
    padding: 5px;
    margin: 0;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    padding: 5px;
    height: 30px;
}

.staff_multi_selection .p-multiselect {
    min-height: 30px;
    width: 200px;
}

.staff_multi_selection .p-multiselect-header {
    display: none !important;
}

.staff_multi_selection .p-multiselect-items {
    padding: 0;
    margin: 0;
}

.staff_multi_selection .p-multiselect .p-multiselect-label {
    padding: 4.5px;
}

.staff_multi_selection .p-multiselect.p-multiselect-chip .p-multiselect-token {
    border-radius: 5px;
    padding: 2px;
    margin-right: 0.5rem;
    background: #e5e7eb;
    color: #4b5563;
    font-size: 9pt;
    padding-left: 10px;
    padding-right: 10px;
}

.staff_multi_selection p-multiselectitem .p-checkbox {
    display: none;
}

.default_message_container {
    text-align: center;
}

.default_message {
    color: #bbbaba;
}

.p-inputtext {
    padding: 5px;
}
input {
    padding: 5px;
}

.colored_dropdown .p-dropdown {
    background: transparent;
}

/* -------------------------------- Snapzing style -------------------------------- */
.divLoadingContent {
    padding: 10px;
    background-color: #fff;
    border: 3px #aeaeae solid;
    display: inline-block;
    border-radius: 10px;
    position: absolute;
    z-index: 10;
    text-align: center;
    left: 47%;
    margin-left: -41px;
    top: 50%;
    margin-top: -35px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}
.divLoadingContent > img {
    width: 100px;
}
.divLoadingContent > span {
    display: block;
    font-size: 7pt;
    padding-top: 10px;
    font-weight: 600;
    color: #066558;
}
.divLoadingBg {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}
.divLoadingWrapper {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100003;
    text-align: center;
}
/* -------------------------------- End of Snapzing style -------------------------------- */

.p-multiselect-label {
    white-space: pre-wrap;
}

.staff_multi_selection .p-multiselect.p-multiselect-chip .p-multiselect-token {
    margin-bottom: 5px;
}

.display_top_menu {
    .layout-main-container {
        padding-top: 8rem !important;
    }

    .layout-main-container {
        padding-left: 2rem !important;
    }

    .user_top_menu {
        display: flex !important;
    }

    .layout-main-container {
        margin-left: 0 !important;
    }
}

.top_menu_section {
    .card {
        padding: 5px;
        border: none;
    }
    ul {
        margin: 0;
        padding: 0;
    }

    .p-tabmenu .p-tabmenu-nav {
        border: none;
    }

    li:nth-child(6) {
        border-right: solid 1px #c7c8c9;
    }
    li:nth-child(7) {
        margin-left: 5px;
    }
}

.disabled {
    opacity: 0.4;
}

input:disabled {
    // background-color: #7a7e83;
    opacity: 0.5;
}

button:disabled,
button[disabled] {
    opacity: 0.5;
}

.error_label {
    color: #ff5757;
}

p-table {
    .p-datatable .p-datatable-tbody > tr {
        border-bottom: 1px solid #dddddd !important;
    }
    .p-datatable .p-datatable-tbody > tr:hover {
        background-color: #f5f5f5;
    }
    .p-datatable .p-datatable-tbody > tr > td {
        padding: 5px;
        vertical-align: top;
    }
}

.view_system_enhancement_list p-table {
    .p-datatable .p-datatable-tbody > tr {
        border-bottom: 1px solid #dddddd !important;
    }
    .p-datatable .p-datatable-tbody > tr:hover {
        background-color: #f5f5f5;
    }
    .p-datatable .p-datatable-tbody > tr > td {
        padding: 0;
        padding-bottom: 5px;
        vertical-align: top;
    }
}

.view_bug_fixes_list p-table {
    .p-datatable .p-datatable-tbody > tr {
        border-bottom: 1px solid #dddddd !important;
    }
    .p-datatable .p-datatable-tbody > tr:hover {
        background-color: #f5f5f5;
    }
    .p-datatable .p-datatable-tbody > tr > td {
        padding: 0;
        padding-bottom: 5px;
        vertical-align: top;
    }
}

.disabled_div {
    text-decoration: none !important;
    cursor: none !important;
    pointer-events: none !important;
}

::ng-deep p-inputswitch {
    display: flex;
    align-items: center;
}

.p-disabled,
.p-disabled * {
    opacity: 0.6;
}
