<!-- Module selector main section -->
<div class="container-fluid module_selector_main">
  <ul class="honeycomb" lang="es" *ngIf="false">
    <li *ngFor="let item of moduleList" class="honeycomb-cell"
      [ngClass]="!item.IsDisable ? 'enable_module' : 'disable_module'">
      <div class="honeycomb-cell__title" (click)="clickOnModule(item)">{{item.Name}}</div>
    </li>
  </ul>

  <!--Normal button panel and welcome note large screens-->
  <div class="row normal_btn_panel d-none d-xl-flex">
    <!--Button panel-->
    <div class="col-4">
      <div *ngFor="let item of moduleList; let i = index" class="module_item" [ngClass]="(i==0)?'global_background':''">
        <button class="module_button" [ngClass]="!item.IsDisable ? 'enable_module' : 'disable_module'"
          (click)="clickOnModule(item)">{{item.Name}}</button>
      </div>

    </div>
    <!--End of Button panel-->

    <!--Welcome text-->
    <div class="col-8 welcome_text">
      <h2>Welcome to our website. On the left-hand side, you will find a menu bar listing all the modules to which you
        have access privileges. Please click on the respective module to proceed. If you require assistance or have any
        concerns, please do not hesitate to contact our support team for further assistance. ​
      </h2>
      <h2>Developer Email: webdeveloper&#64;awsaus.com.au​</h2>
      <h2>Direct Email: office&#64;awsaus.com.au</h2>
    </div>
    <!--End of Welcome text-->


  </div>
  <!--End of Normal button panel and welcome note-->
  <!--Normal button panel and welcome note medium screens-->
  <div class="row normal_btn_panel d-none d-md-flex d-lg-flex d-xl-none">
    <!--Button panel-->
    <div class="col-6">
      <div *ngFor="let item of moduleList" class="module_item">
        <button class="module_button" [ngClass]="!item.IsDisable ? 'enable_module' : 'disable_module'"
          (click)="clickOnModule(item)">{{item.Name}}</button>
      </div>

    </div>
    <!--End of Button panel-->

    <!--Welcome text-->
    <div class="col-6 welcome_text">
      <h2>Welcome to our website. On the left-hand side, you will find a menu bar listing all the modules to which you
        have access privileges. Please click on the respective module to proceed. If you require assistance or have any
        concerns, please do not hesitate to contact our support team for further assistance. ​
      </h2>
      <h2>Developer Email: webdeveloper&#64;awsaus.com.au​</h2>
      <h2>Direct Email: office&#64;awsaus.com.au</h2>
    </div>
    <!--End of Welcome text-->


  </div>
  <!--End of Normal button panel and welcome note-->

  <!--Normal button panel and welcome note small screens-->
  <div class="row normal_btn_panel_sm d-block d-sm-block d-md-none d-lg-none d-xl-none">
    <!--Button panel-->
    <div class="col-12">
      <div *ngFor="let item of moduleList" class="module_item">
        <button class="module_button" [ngClass]="!item.IsDisable ? 'enable_module' : 'disable_module'"
          (click)="clickOnModule(item)">{{item.Name}}</button>
      </div>

    </div>
    <!--End of Button panel-->

    <!--Welcome text-->
    <div class="col-12 welcome_text">
      <h2>Welcome to our website. On the left-hand side, you will find a menu bar listing all the modules to which you
        have access privileges. Please click on the respective module to proceed. If you require assistance or have any
        concerns, please do not hesitate to contact our support team for further assistance. ​
      </h2>
      <h2>Developer Email: webdeveloper&#64;awsaus.com.au​</h2>
      <h2>Direct Email: office&#64;awsaus.com.au</h2>
    </div>
    <!--End of Welcome text-->


  </div>
  <!--End of Normal button panel and welcome note-->

</div>
<!-- End of Module selector main section -->