<!-- Main content section -->
<ul class="layout-menu new_side_bar">

    <!--Global notes and others-->
    <div class="flex_center_static">
        <div [pTooltip]="item.Name"
        tooltipPosition="right" *ngFor="let item of staticMenuItems; let i = index"
            [style.width]="item.ModuleCode == 'STAT1' ? '95%':  item.ModuleCode == 'STAT4' ? '45%' : 'auto'"
            [ngClass]="[!mouseEnter ? 'menu_item_main' : 'menu_item_expand', (item.ModuleCode == 'STAT4' && mouseEnter)?'req_new_ind':'']"
            [style.margin-top.px]="i == 0 ? 10 : 0"
            [style.margin-bottom.px]="item.ModuleCode == 'STAT1' && mouseEnter ? 10 : 0">
            <a (click)="itemClick($event)" [routerLink]="item.RedirectUrl" routerLinkActive="active-route" pRipple
                [ngClass]="item.ModuleCode == 'STAT1' ? 'gbl_n_icon' : item.ModuleCode == 'STAT4' ? 'req_new' : ''">
                <!--Single Item section-->
                <div class="single_item">
                    <!--Item icon-->
                    <div *ngIf="item.ModuleCode != 'STAT4' || (item.ModuleCode == 'STAT4' && !mouseEnter)"
                        class="item_icon" [ngClass]="mouseEnter ? 'auto_width' : 'full_width '">
                        <i [ngClass]="item.ModuleIcon" class="layout-menuitem-icon"></i>
                    </div>
                    <!--End of Item icon-->
                    <!--Label section-->
                    <div *ngIf="mouseEnter && (item.ModuleCode == 'STAT1' || item.ModuleCode == 'STAT4')"
                        class="glbl_n_label">
                        {{item.Name}}
                    </div>
                    <!--End of Label section-->
                    <!--Notification count-->
                    <div *ngIf="mouseEnter && (item.ModuleCode == 'STAT1')" class="noti_count">
                        16
                    </div>
                    <!--End of Notification count-->






                </div>
                <!--End of Single Item section-->


            </a>

        </div>

    </div>
    <!--End of Global notes and others-->

    <div class="divider_hr">
        <hr/>
    </div>

    <!-- Looping through the menu items -->
    <ng-container *ngFor="let item of sideMenuItems; let i = index;">

        <!-- Display the menu item -->
        <app-new-side-bar-item [mouseEnter]="mouseEnter" [item]="item" [index]="i"
            [root]="true"></app-new-side-bar-item>
        <!-- End of Display the menu item -->


    </ng-container>
    <!-- End of Looping through the menu items -->

</ul>
<!-- End of Main content section -->