.new_side_bar {
    .logo_section {
        img {
            width: 100%;
            height: 100%;
        }
    }
}


.menu_item_main{
    text-decoration: none;

    .single_item{
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
        .item_icon{
            display: flex;
            justify-content: center;
           
           
        }
        .item_label{
            width: 100%;
            margin-left: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.full_width{
    width: 100%;
}
.auto_width{
    width: auto;
}

.margin_left_10{
    margin-left: 10px;
}

.margin_right_10{
    margin-right: 10px;
}
.margin_left_13{
    margin-left: 13px;
}
.margin_right_13{
    margin-right: 13px;
}
::ng-deep .pi-fw{
    font-size: 20px;
}