<!-- Main content section -->
<ul class="layout-menu new_side_bar">
   
    

    <!-- Looping through the menu items -->
    <ng-container *ngFor="let item of sideMenuItems; let i = index;">
        
        <!-- Display the menu item -->
        <app-new-side-bar-item  [mouseEnter]="mouseEnter" [item]="item" [index]="i"[root]="true"></app-new-side-bar-item>
        <!-- End of Display the menu item -->

      
    </ng-container>
    <!-- End of Looping through the menu items -->

</ul>
<!-- End of Main content section -->